# ignore .history directory that is created by vscode extension
/.history
/gac.json
*.venv
/scr/*
!/scr/Frame.py
!/scr/Rect.py
!/scr/Convertor.py
!/scr/File.py
!/scr/Type_Alias.py
!/scr/OCR_by_google.py
!/scr/main.py
!/scr/pdf/
!/scr/out/